/* 
Theme based on Monokai Pro (Visual Studio Code theme) & Midnight theme 
Designed to match IDE theme and be light on the eyes

Feel free to adjust!
*/

@import url("https://github.com/freesiagaul/monokai-pro-betterdiscord/main.css");

/* Main colors */
:root {
  /* Main font */
  --font: "punkto";

  /* Status colors and windows */
  --online-indicator: #b4d273;
  --dnd-indicator: #b05279;
  --idle-indicator: #e87d3e;
  --streaming-indicator: #9e86c8;

  /* Accents */
  --accent-1: hsl(294, 54%, 45%); /* links */
  --accent-2: hsl(247, 19%, 26%); /* unread/mention */
  --accent-3: #2e2e2e; /* buttons */
  --accent-4: #9e86c8; /* buttons; hover */
  --accent-5: hsla(214, 93%, 45%, 0.336); /* buttons; clicked */
  --mention: hsla(190, 60%, 69%, 0.1); /* mentions */
  --mention-hover: hsla(190, 80%, 52%, 0.05); /* mentions; hovered */

  /* Text */
  --text-0: hsla(52, 30%, 89%, 0.9); /* text; colored elements */
  --text-1: var(--text-2); /* headers */
  --text-2: #b05279; /* names and icons */

  /* Headings or important (names) */
  --text-3: #d6d6d6; /* regular text */
  --text-4: #e5b567; /* surrounding icons/channel names */
  --text-5: hsl(69, 9%, 30%); /* muted channels/chats; timestamps */

  /* Background */
  --bg-1: hsl(220, 15%, 20%); /* buttons if clicked */
  --bg-2: hsl(220, 15%, 16%); /* buttons */
  --bg-3: hsl(240, 9%, 11%); /* spacing; secondary elements */
  --bg-4: #2e2e2e; /* main background */

  --hover: hsla(231, 22%, 70%, 0.1); /* channel buttons; hovered */
  --active: hsla(220, 20%, 40%, 0.2); /* channel  buttons; clicked */
  --message-hover: hsla(220, 0%, 0%, 0.1); /* messages; hovered */

  /* Padding */
  --spacing: 12px;

  /* Rounding */
  --roundness-xl: 18px;
  --roundness-l: 20px;
  --roundness-m: 16px;
  --roundness-s: 12px;
  --roundness-xs: 10px;
  --roundness-xxs: 8px;

  /* Filtering stubborn places */
  --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
  --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
  --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84)
    brightness(1.2);

  --windows-nav: none; /* Windows-style */
}
